# compiled Python
*.pyc

# compiled C
cmake-build-debug/*
*.exp
*.lib
*.obj

# IntelliJ files
.idea/*

# input data files (see README for where to get them)
resources/elevation/*
resources/shapefiles/*

# log files
*.log
