# the fourth projection (used only in diagrams)
projection/**/*-4.*
projection/**/*-IV.*
examples/*-4.*

# input data files (see README for where to get them)
resources/elevation/*
resources/shapefiles/*

# IntelliJ files
.idea/*

# log files
*.log

# compiled Python
*.pyc

# compiled C
cmake-build-debug/*
*.exp
*.lib
*.obj
